body{
    margin: 0;
    padding: 0; 
    background: #ddd;
}

h1{
    text-align: center;
    margin: 100px;
    color: #333;
}

/*Centra los elementos*/
.canvasdysplay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../images/game1.jfif);
    background-size: cover; /*Hace que la imagen se ajuste al tamaño del canva*/
    z-index: 1;
}

#arkanoidCanvaGo {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../images/Game\ Over.jfif);
    opacity: 0.6;
    background-size: cover; /*Hace que la imagen se ajuste al tamaño del canva*/
    cursor: pointer; 
    z-index: 2;
}

#arkanoidCanvaYW {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../images/youwin.jfif);
    opacity: 0.6;
    background-size: cover; /*Hace que la imagen se ajuste al tamaño del canva*/
    cursor: pointer; 
    z-index: 3;
}

#startButton {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 20px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #45a049;
}